<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>病患資料</title>
</head>
<body>
    <h3><strong>病患資料</strong></h3>
    <div style="border:4px orange solid;">
        <p>
            <em>性別:男<br>
            姓名:OOO<br>
            出生:101/7/7<br>
            年齡:10 ys<br>
            身高:160 cm<br>
            體重:50 kg</em><br>
      </p>
      <div style="border:2px red solid; padding:5px; width: 250px; height: 33px;text-align: center;"><button>壞死NF分析輔助系統</button></div>
        <div style="border:2px red solid; padding:5px; width: 280px; height: 33px;text-align: center;"><button>敗血症風險分析輔助系統</button></div>
    </div>
</body>
</html>
